audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
    font-size: 10px; /* Change this value as needed */    
}

audio::-webkit-media-controls-play-button {
    /* background-color: #a0276e; */
    background-color: var(--chakra-colors-gray-200);
    /* color: #a0276e; */
    color: var(--chakra-colors-gray-200);    
}

audio::-webkit-media-controls-panel {
    background-color: var(--chakra-colors-gray-200);    
    color: var(--chakra-colors-gray-200);
}
